{
  name: "MAC b0c76a2921f211e3af2a56b23f7cce46e68c3ad6"
  email: null
  username: "b0c76a2921f211e3af2a56b23f7cce46e68c3ad6"
  subscribed: false
  subscribeTryAgain: null
  tos: true
  identified: true
}