* {
	margin: 0;
	padding:0;
}
img {
	border: 0;	
}
body {
	background: #073978 url(../images/bkgd.jpg) repeat-x;
}
a:link, a:visited {
	color: #19539b;
	text-decoration: none;
}
a:hover, a:active {
	color: #fe961a;
	text-decoration: underline;
}
#container-wrap {
	margin: 20px auto 0 auto;
	width: 952px;
	background:#dadada;
	padding:4px;
	overflow:hidden;
}
#container {
	background: #FFF;	
	border: 1px solid #c4c4c4;
	overflow:hidden;
}
#banner {
	border-top: 2px solid #c4c4c4;
	border-bottom: 2px solid #c4c4c4;		
}
#content {
	border-top: 1px solid #c4c4c4;
	padding:30px;
	overflow:hidden;
}
#menu, #menu2 {
	height: 38px;	
}
#feature-bar, #menu {	
	border:1px solid #fff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7e7e7', endColorstr='#d2d2d2'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#e7e7e7), to(#d2d2d2)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #e7e7e7,  #d2d2d2); /* for firefox 3.6+ */ 
}
#menu2 {
	background: #19539b;	
}
#feature-bar {
	height: 30px;
	padding: 6px;
	border-top: 1px solid #c4c4c4;		

}
#main {
	width: 530px;
	float:left;
	overflow:hidden;
}
#sidebar {
	float: right;
	width: 300px;
	border-left: 1px solid #c4c4c4;
	padding-left:30px;
}
#flashcontent {
	text-align: center;	
}
/* ----------main body-------------- */
h1 {
	font: bold 18px Arial, Helvetica, sans-serif;
	color: #19539b;
	margin:0 0 6px 0;
}
h2 {
	font: bold 15px Arial, Helvetica, sans-serif;
	color: #fe961a;
	margin:0 0 12px 0;	
}
h3 {
	font: bold 13px Arial, Helvetica, sans-serif;
	color: #19539b;
	margin:0;	
}
h4 {
	font: bold 13px Arial, Helvetica, sans-serif;
	color: #fe961a;	
	margin:0 0 12px 0;	
}
h5 {
	font: bold 14px Arial, Helvetica, sans-serif;
	color: #333333;
	font-style:italic;
	margin:0 0 16px 0;
}
p {
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #333;
	margin-bottom:12px;
}
hr {
	border: none 0; 
	border-top: none;
	border-bottom: 1px solid #c0c0c0;
	margin:10px 0 10px 0;
	width: 100%;
	height: 1px;
}
ul {
	margin:0 0 12px 0;	
}
ol {
	margin:0 0 12px 20px;	
}
li {
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #333;
	margin: 0 0 0 20px;
}
table {
	margin-bottom: 12px;	
}
td {
	vertical-align: top;
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #333;
	padding:4px;
}
th {
	background: #ededed;	
	font: bold 12px Arial, Helvetica, sans-serif;	
	padding:4px;
}
blockquote {
	margin-left: 30px;	
}
/* ----------classes-------------- */
.png {	
	behavior: url(../iepngfix.htc)	
}
.ad-leaderboard {
	width: 728px;
	height: 90px;
	margin:10px 0 30px 100px;
}
.ad-linkboard {
	width: 728px;
	height: 15px;
	margin:10px 0 30px 100px;
}
.ad-sm-banner {
	width:530px;
	text-align:center;
	margin:30px 0 30px 0;
}
.ad-square {
	margin: 0 0 20px 0 ;	
}
.ad-style {
	background:url(../images/sidebar-header.jpg) top repeat-x;
	padding:8px;
	border:1px solid #2d63a9;
	border-radius:3px;
	
}
.ad-style h1 {
	color:#fff;
	margin:5px 0 0 0;
	 text-shadow: -1px -1px 1px rgba(0,0,0,.35);
}
.ad-style ul {
	margin:20px 0 0 0;
	list-style: #F90;
}
.ad-style ul li {
	padding: 5px 0;
	font-size:13px;
	font-weight:800;
	
}
.ad-skyscraper {
	margin: 0 0 20px 65px;	
}
.ad-footer ul {
	float: left;	
}
.signup {
	float: left;	
}
.plus1, .fb, .twitter {
	float: left;
	width: 90px;
}
.plus1 {
	margin: 3px 10px 0 40px;	
}
.fb, .twitter {
	margin:6px 10px 0 0;
}
.fb {
	overflow: hidden;
}
.login {
	float: right;	
	display: block;
}
.blue {
	color: #19539b;	
}
.orange, a.orange {
	color: #fe961a;	
}
.box {	
	 width: 490px; 
	 margin-top:20px; 
	 padding:10px; 
	 border:2px solid #e0dfcf; 
	 background-color:#FFF;
}
.subscription {
	 font:bold 15px Verdana, Geneva, sans-serif; 
	 margin:0;
	 color:#f35b00;
}
.callout-blue {
	background: #e6ebf2;
	padding:10px;
	overflow:hidden;
	margin:30px 0 30px 0;
}
.callout-orange {
	background: #ffefdd;
	padding:10px;
	overflow:hidden;
	margin:30px 0 30px 0;
}
.callout-blue img, .callout-orange img {
	margin: 0 10px 0 10px;	
}
.callout-orange h2, .callout-blue h2 {
	font: bold 16px Arial, Helvetica, sans-serif;
	color: #19539b;
	margin:0;		
}
.check {
	margin: 0 6px -3px 0;	
}
.clear {
	background: none;
	border: 0;
	clear: both;
	color: none;
	height: 0;
	margin: 0;
	padding: 0;
	width: 0;
}
p.credits {
	float: right;
	text-align:right;
	margin-left:50px;
}
p.small {
	font-size: 10px;	
}
.right {
	float:right;
	margin: 10px 0 10px 10px;
}

u {
	border-bottom: 1px solid #000;
	text-decoration: none;
}

u.thick {
	border-bottom: 2px solid #000;
	text-decoration: none;
}

hr.rule-sep {
	margin-bottom: 13px;
}

.clsThinUL {
	border-bottom: 1px solid #000;
}
.clsThickUL {
	border-bottom: 2px solid #000;
}
.red {
	color:#990000;
}
.green {
	color:#336600;
}
.yah_inbox {
	float: right;
	clear: left;
	margin-top: 80px;
	width: 160px;
}
table.confusing p {
	margin: 0;	
}
.rule {
	border: 1px solid #e6ebf2;	
	padding: 10px;
	margin-bottom:20px;
	overflow:hidden;
}
a.blue-button, input.blue-button, div.navigation a {
	width:auto;
	display:inline-block;
	padding:8px 16px 8px 16px;
	border:none;
	color: #fff;
	text-transform: uppercase;
	background: #316bb2; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#316bb2', endColorstr='#084188'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#316bb2), to(#084188)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #316bb2,  #084188); /* for firefox 3.6+ */ 
	margin: 10px 0 10px 0;
}
a.blue-button:hover, input.blue-button:hover, div.navigation a:hover {
	background: #fe961a;
	text-decoration:none;
}
/* ----------forms-------------- */
form#search {
	margin: 0 0 20px 0;	
}
form#search input.search {
	width: 178px;
	padding:2px;
}
form#search input.button {
	margin:0 0 -7px 0;		
}
/* ----------blog styles-------------- */
#searchform /*blog sidebar search*/ {
	margin-bottom: 20px;
}
label.screen-reader-text {
	display:none;
}
ol.commentlist {
	margin: 0 !important;
	list-style:none;
	list-style-type:none;
}
ol.commentlist li {
	margin-left: 0;	
}
ul.children {
	margin-left:30px;
	list-style:none;
}
.comment-author {
	font-weight: bold;	
}
.reply {
	margin-bottom: 12px;	
}
.thread-even {
	background: #eaeaea;
	padding:10px;
}
.thread-odd {
	background: #f5f5f5;
	padding:10px;	
}
.navigation {
	margin:12px auto 12px auto;
	text-align:center;
}
.navigation p {
		color: #FFF;	
}

/* ----------footer-------------- */
#footer-wrap {
	border-top:1px solid #c0c0c0;
	clear:both;
}
#footer {
	background:#e8e8e8;
	padding:0 20px 0 20px;
	font: normal 11px "Trebuchet MS", Arial, sans-serif;
	color: #fff;
	border:1px solid #fff;
	overflow:hidden;
}
#footer p {
	font-size: 11px;
	color: #5d5d5d !important;
	margin-top:20px;
}
#footer ul {
	float: left;
	margin:20px 30px 20px 20px;
	list-style:none;
}
#footer li, #footer a:link, #footer a:visited  {
	color: #5d5d5d !important;
	text-decoration: none;
}
#footer a:hover, #footer a:active {
	color: #000 !important;
}
/* ----------weblinx-------------- */
div.transOFF {
	width: 230px;
	background-color:#ffffff;
	border:2px solid #cccccc; 
}
div.transON {
	width: 230px; 
	background-color:#ffffff;
	border:2px solid #cccccc;
	opacity:0.10;
	filter:alpha(opacity=10);
	-moz-opacity:0.10;
}
#weblinx {
	font: normal 11px "Trebuchet MS", Arial, sans-serif;
	color: #000000;
	text-align: center;
	padding: 5px;
	margin: 10px auto 0 auto;
}
#weblinx a:link, #weblinx a:visited  {
	color: #000000;
	text-decoration: none;
}
#weblinx a:hover, #weblinx a:active {
	color: #000000;
}