.cm-s-jernau {background: #222; color: #CCCCCC;}                                                           /* background :black        text :light-grey  */
.cm-s-jernau .CodeMirror-activeline {background: #2F2F2F;}                                                 /* active-line                   :dark-grey   */
.cm-s-jernau .CodeMirror-focused {background: #555;}                                                       /* focused                       :light-grey  */
.cm-s-jernau .CodeMirror-selected {background: #555;}                                                      /* selected                      :light-grey  */

.cm-s-jernau span.cm-atom {color: #CCA5E3;}                                                                /* :keyword 'quote               :purple      */
.cm-s-jernau span.cm-bracket {color: #70BFFF;}                                                             /* (                             :blue        */
.cm-s-jernau span.cm-builtin {color: #9CCE95;}                                                             /* map partial juxt              :green       */
.cm-s-jernau span.cm-comment {color: #8EB5D0;}                                                             /* ;; comment                    :blue        */
.cm-s-jernau span.cm-def {color: #9CCE95;}                                                                 /* <@media>                      :green       */
.cm-s-jernau span.cm-header {color: #CCCCCC;}
.cm-s-jernau span.cm-keyword {color: #9CCE95;}                                                             /* ns def -> let if              :green       */
.cm-s-jernau span.cm-meta {color: #9CCE95;}                                                                /* <DOCTYPE!>                    :green       */
.cm-s-jernau span.cm-number {color: #CCCCCC;}                                                              /* 1 2 3                         :light-grey  */
.cm-s-jernau span.cm-qualifier {color: #CCCCCC;}                                                           /* <.qualifier>                  :light-grey  */
.cm-s-jernau span.cm-string {color: #EEDDAF;}                                                              /* "string"                      :yellow      */
.cm-s-jernau span.cm-string-2 {color: #9CCE95;}                                                            /* <center right solid>          :green       */
.cm-s-jernau span.cm-symbol {color: #DDD;}
.cm-s-jernau span.cm-tag {color: #9CCE95;}                                                                 /* <html-tag>                    :green       */
.cm-s-jernau span.cm-variable {color: #CCCCCC;}
.cm-s-jernau span.cm-variable-2 {color: #9CCE95;}                                                          /* <var exampleColor scale>      :green       */

.cm-s-jernau span.cm-SUBST {color: #CCCCCC;}

.cm-s-jernau span.cm-bracket1 {color: #70BFFF;}                                                            /* (                             :blue        */
.cm-s-jernau span.cm-bracket2 {color: #887FD5;}                                                            /* ((                            :purple      */
.cm-s-jernau span.cm-bracket3 {color: #EB77EC;}                                                            /* (((                           :pink        */
.cm-s-jernau span.cm-bracket4 {color: #FFBB44;}                                                            /* ((((                          :orange      */
.cm-s-jernau span.cm-bracket5 {color: #EFEF66;}                                                            /* (((((                         :yellow      */
.cm-s-jernau span.cm-bracket6 {color: #63EB63;}                                                            /* ((((((                        :green       */
.cm-s-jernau span.cm-bracket7 {color: #55F1E1;}                                                            /* (((((((                       :cyan        */
.cm-s-jernau span.cm-bracket8 {color: #70BFFF;}
.cm-s-jernau span.cm-bracket9 {color: #887FD5;}
.cm-s-jernau span.cm-bracket10 {color: #EB77EC;}
.cm-s-jernau span.cm-bracket11 {color: #FFBB44;}
.cm-s-jernau span.cm-bracket12 {color: #EFEF66;}
.cm-s-jernau span.cm-bracket13 {color: #63EB63;}
.cm-s-jernau span.cm-bracket14 {color: #55F1E1;}

.cm-s-jernau span.cm-bracket0, .cm-s-jernau span.cm-bracket-mismatched {color: #F88; background: #733;}    /* (non-matching-brackets)))     :light-red   */

.cm-s-jernau span.CodeMirror-matchingbracket {border-bottom: 2px solid #777; background: none;}            /* matching-brackets-underscore  :light-grey  */
.cm-s-jernau span.CodeMirror-nonmatchingbracket {color: #F88; background: none; border-bottom: 0px}        /* non-matching-bracket          :red         */

.cm-s-jernau .cm-searching {background: #FFBB44; color:#222 !important;}                                   /* search-items                  :orange      */
.cm-s-jernau .searching-current {background: #EFEF66; color: #222 !important;}                             /* current-search-item           :yellow      */

.CodeMirror div.CodeMirror-cursor {border-left: 2px solid white;}                                          /* cursor |                      :white       */
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {border-left: 1px solid silver;}
.CodeMirror.cm-keymap-fat-cursor div.CodeMirror-cursor {width: auto; border: none !important; background: rgba(0, 200, 200, .4);}

.CodeMirror-gutters {background: #222; border-right:1px solid #444;}
